{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block body %}Ice cream's origins are known to reach back as far as the second century B.C., 
although no specific date of origin nor inventor has been undisputably credited with its discovery.
We know that Alexander the Great enjoyed snow and ice flavored with honey and nectar. Biblical references also 
show that King Solomon was fond of iced drinks during harvesting. During the Roman Empire, Nero Claudius Caesar
 (A.D. 54-86) frequently sent runners into the mountains for snow, which was then flavored with fruits and juices.

Over a thousand years later, Marco Polo returned to Italy from the Far East with a recipe that closely resembled
 what is now called sherbet. Historians estimate that this recipe evolved into ice cream sometime in the 16th 
 century. England seems to have discovered ice cream at the same time, or perhaps even earlier than the Italians.
 "Cream Ice," as it was called, 
appeared regularly at the table of Charles I during the 17th century. 
France was introduced to similar frozen desserts in 1553 by the Italian 
Catherine de Medici when she became the wife of Henry II of France. It wasn't until 
1660 that ice cream was made available to the general public.{% endblock body %}