{% extends 'base.html' %}
{% block title %}Services{% endblock title %}
{% block body %}
<h3>Popsicle</h3>An ice pop is a liquid-based frozen snack on a stick. Unlike ice cream or sorbet, which are 
whipped while freezing to prevent ice crystal formation, an ice pop is "quiescently" frozen—frozen while at
 rest—and becomes a solid block of ice. 
The stick is used as a handle to hold it. Without a stick, the frozen product would be a freezie.

<h3>Cones</h3>An ice cream cone, poke (Ireland/Scotland) or cornet (England) is a brittle, cone-shaped pastry, 
usually made of a wafer similar in texture to a waffle, made so ice cream can be carried and eaten without a bowl
 or spoon, for example, the Hong Kong-style bubble cone. Many styles of cones are made, including pretzel cones 
 and chocolate-coated cones (coated on the inside). 
The term ice cream cone can also refer, informally, to the cone with one or more scoops of ice cream on top.

<h3>Frozen Yogurt</h3>frozen dessert made with yogurt and sometimes other dairy and non-dairy products.
 Frozen yogurt is a frozen product containing the same basic ingredients as ice cream, but contains live
  bacterial cultures.

<h3>Mochi</h3>Mochi (もち, 餅) is a Japanese rice cake made of mochigome (もち米), a short-grain japonica glutinous 
rice,
 and sometimes other ingredients such as water, sugar, and cornstarch. The rice is pounded into paste and molded
  into the desired shape. In Japan, it is traditionally made in a ceremony called mochitsuki (餅搗き).While eaten 
  year-round, mochi is a traditional food for the Japanese New Year, and is commonly sold and eaten during that
   time.

<h3>Ice cream Rolls</h3>Stir-fried ice cream (Thai: ไอติมผัด, romanized: ai-tim phat or Thai: ไอศกรีมผัด,
 romanized: ai-sa-krim phat), also known as rolled ice cream, is a sweetened frozen dessert. It is made using milk,
  cream and sugars as well as other added ingredients to improve the flavor. The liquid mixture is stirred to 
  incorporate air spaces on an ice pan and simultaneously cooled to −30 °C (−22 °F). The completed rolling process 
  results in rolls of smooth, semisolid ice cream or gelato. The rolls are placed in a vertical position in an ice 
  cream cup, topped off with various toppings and decorations, and eaten with a spoon.

<h3>Kulfi</h3>Kulfi (/kʊlfiː/) (Persian: قلفی) is a frozen dairy dessert originating in the Indian subcontinent 
during the Mughal era in the 16th century. It is often described as "traditional Indian ice cream".
 Kulfi is a traditional sweet of the Indian subcontinent, where it is commonly sold by street vendors called 
 kulfiwallahs. It is popular in Bangladesh, Myanmar, Nepal, Sri Lanka, and the Middle East and part of the national 
 cuisines of India, Pakistan, and Trinidad and Tobago.

{% endblock body %}